<html>
<body>
<form action="" method="GET" class="form-example">
    <div class="form-example">
        <label for="name">Enter your name: </label>
        <input type="text" name="name" id="name">
    </div>
    <div class="form-example">
        <label for="email">Enter your email: </label>
        <input type="email" name="email" id="email">
    </div>
    <div class="form-example">
        <input type="submit" value="Subscribe!">
    </div>
</form>
    <p style="color: red">{{ error }}</p>
</body>
</html>